In [2]:
import pandas as pd

In [4]:
!pip install xlrd

Requirement already satisfied: xlrd in /Users/peterwilliams/Anaconda3/anaconda3/lib/python3.12/site-packages (2.0.1)

In [5]:
!pip install openpyxl
url = "https://www.sharkattackfile.net/spreadsheets/GSAF5.xls"
df = pd.read_excel(url)

Requirement already satisfied: openpyxl in /Users/peterwilliams/Anaconda3/anaconda3/lib/python3.12/site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /Users/peterwilliams/Anaconda3/anaconda3/lib/python3.12/site-packages (from openpyxl) (1.1.0)

In [6]:
df

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,2025-01-02 00:00:00,2025.0,Unprovoked,New Caledonia,Grande Terre,Islet of Kendek near Koumac,Spearfishing,Robert Cuewapuru,M,40,...,Reportedly Tiger or Bull shark,Johannes Marchand Todd Smith,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2025-01-02 00:00:00,2025.0,Unprovoked,Australia,South Australia,Granites Beach near Westall Streaky Bay,Surfing,Lance Appleby,M,28,...,Great White Shart estimated 4.8m 16 ft,Glen Folkard: Simon De Marchi News.com.au: The...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2024-12-29 00:00:00,2024.0,Unprovoked,Egypt,North of Marsa Alam,Red Sea,SCUBA Diving,Peppino Fappani,M,69,...,Reportedly a Tiger Shark,Todd Smith : Kevin McMurray Trackingsharks .co...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2024-12-29 00:00:00,2024.0,Unprovoked,Egypt,North of Marsa Alam,Red Sea,SCUBA Diving,Gianluca Di Gioia,M,48,...,Reportedly a Tiger Shark,Todd Smith : Kevin McMurray Trackingsharks .co...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2024-12-28 00:00:00,2024.0,Unprovoked,Australia,Queensland,Humpy Island Great Keppel Island,Spearfishing,Luke Walford,M,40,...,Unknown,Todd Smith Glen Folkard ABC News: The North We...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6984,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,...,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6.0,NaN,NaN
6985,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,...,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5.0,NaN,NaN
6986,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,...,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4.0,NaN,NaN
6987,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,...,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0,NaN,NaN
6988,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,...,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0,NaN,NaN

In [7]:
df.dtypes

Date               object
Year              float64
Type               object
Country            object
State              object
Location           object
Activity           object
Name               object
Sex                object
Age                object
Injury             object
Fatal Y/N          object
Time               object
Species            object
Source             object
pdf                object
href formula       object
href               object
Case Number        object
Case Number.1      object
original order    float64
Unnamed: 21        object
Unnamed: 22        object
dtype: object

In [9]:
df.describe()

              Year  original order
count  6987.000000     6799.000000
mean   1934.979963     3401.152081
std     272.134817     1963.076319
min       0.000000        2.000000
25%    1947.000000     1701.500000
50%    1985.000000     3401.000000
75%    2009.000000     5100.500000
max    2026.000000     6802.000000

In [10]:
df.nunique()

Date              6037
Year               261
Type                12
Country            239
State              920
Location          4550
Activity          1598
Name              5723
Sex                  8
Age                246
Injury            4118
Fatal Y/N           12
Time               431
Species           1706
Source            5344
pdf               6789
href formula      6784
href              6776
Case Number       6777
Case Number.1     6775
original order    6797
Unnamed: 21          1
Unnamed: 22          2
dtype: int64

In [11]:
df.Type.unique()

array(['Unprovoked', ' Provoked', 'Provoked', 'Questionable',
       'Watercraft', 'Sea Disaster', nan, '?', 'Unconfirmed',
       'Unverified', 'Invalid', 'Under investigation', 'Boat'],
      dtype=object)

In [12]:
df

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,2025-01-02 00:00:00,2025.0,Unprovoked,New Caledonia,Grande Terre,Islet of Kendek near Koumac,Spearfishing,Robert Cuewapuru,M,40,...,Reportedly Tiger or Bull shark,Johannes Marchand Todd Smith,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2025-01-02 00:00:00,2025.0,Unprovoked,Australia,South Australia,Granites Beach near Westall Streaky Bay,Surfing,Lance Appleby,M,28,...,Great White Shart estimated 4.8m 16 ft,Glen Folkard: Simon De Marchi News.com.au: The...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2024-12-29 00:00:00,2024.0,Unprovoked,Egypt,North of Marsa Alam,Red Sea,SCUBA Diving,Peppino Fappani,M,69,...,Reportedly a Tiger Shark,Todd Smith : Kevin McMurray Trackingsharks .co...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2024-12-29 00:00:00,2024.0,Unprovoked,Egypt,North of Marsa Alam,Red Sea,SCUBA Diving,Gianluca Di Gioia,M,48,...,Reportedly a Tiger Shark,Todd Smith : Kevin McMurray Trackingsharks .co...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2024-12-28 00:00:00,2024.0,Unprovoked,Australia,Queensland,Humpy Island Great Keppel Island,Spearfishing,Luke Walford,M,40,...,Unknown,Todd Smith Glen Folkard ABC News: The North We...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6984,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,...,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6.0,NaN,NaN
6985,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,...,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5.0,NaN,NaN
6986,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,...,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4.0,NaN,NaN
6987,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,...,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0,NaN,NaN
6988,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,...,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0,NaN,NaN

In [13]:
df[["Sex"]]

     Sex
0      M
1      M
2      M
3      M
4      M
...   ..
6984   M
6985   M
6986   M
6987   M
6988   M

[6989 rows x 1 columns]

In [14]:
object_df = df.select_dtypes(include='object').describe()
object_df

,Date,Type,Country,State,Location,Activity,Name,Sex,Age,Injury,...,Time,Species,Source,pdf,href formula,href,Case Number,Case Number.1,Unnamed: 21,Unnamed: 22
count,6989,6971,6939,6507,6424,6404,6770,6410,3995,6954,...,3463,3857,6970,6799,6794,6796,6798,6797,1,2
unique,6037,12,239,920,4550,1598,5723,8,246,4118,...,431,1706,5344,6789,6784,6776,6777,6775,1,2
top,1957,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,16,FATAL,...,Afternoon,White shark,"K. McMurray, TrackingSharks.com",1907.10.16.R-HongKong.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2021.07.23,2012.09.02.b,stopped here,Teramo
freq,9,5151,2555,1185,191,1131,680,5610,92,863,...,215,194,131,2,2,4,2,2,1,1

In [15]:
df[["Sex", "Country"]].value_counts()

Sex  Country
M    USA                2026
     AUSTRALIA          1222
     SOUTH AFRICA        504
F    USA                 421
     AUSTRALIA           112
                        ...
M    Coast of AFRICA       1
     Coral Sea             1
     DIEGO GARCIA          1
     EGYPT / ISRAEL        1
lli  USA                   1
Name: count, Length: 301, dtype: int64

In [26]:
df.keys()

Index(['Date', 'Year', 'Type', 'Country', 'State', 'Location', 'Activity',
       'Name', 'Sex', 'Age', 'Injury', 'Fatal Y/N', 'Time', 'Species ',
       'Source', 'pdf', 'href formula', 'href', 'Case Number', 'Case Number.1',
       'original order', 'Unnamed: 21', 'Unnamed: 22'],
      dtype='object')

In [28]:
unique_genders = df['Sex'].unique()

print(unique_genders)

['M' 'F' nan ' M' 'M ' 'lli' 'M x 2' 'N' '.']

In [30]:
import pandas as pd

# Sample DataFrame
# Define the variations to be replaced with 'F'
female_variations = ['Femal', 'Female',' F','F ']

# Replace the variations with 'F'
df['Sex'] = df['Sex'].replace(female_variations, 'F')

print(df)

                     Date    Year        Type             Country  \
0     2025-01-02 00:00:00  2025.0  Unprovoked       New Caledonia
1     2025-01-02 00:00:00  2025.0  Unprovoked           Australia
2     2024-12-29 00:00:00  2024.0  Unprovoked               Egypt
3     2024-12-29 00:00:00  2024.0  Unprovoked               Egypt
4     2024-12-28 00:00:00  2024.0  Unprovoked           Australia
...                   ...     ...         ...                 ...
6984          Before 1903     0.0  Unprovoked           AUSTRALIA
6985          Before 1903     0.0  Unprovoked           AUSTRALIA
6986            1900-1905     0.0  Unprovoked                 USA
6987            1883-1889     0.0  Unprovoked              PANAMA
6988            1845-1853     0.0  Unprovoked  CEYLON (SRI LANKA)

                    State                                 Location  \
0            Grande Terre              Islet of Kendek near Koumac
1         South Australia  Granites Beach near Westall Streaky Bay
2     North of Marsa Alam                                  Red Sea
3     North of Marsa Alam                                  Red Sea
4              Queensland         Humpy Island Great Keppel Island
...                   ...                                      ...
6984    Western Australia                              Roebuck Bay
6985    Western Australia                                      NaN
6986       North Carolina                           Ocracoke Inlet
6987                  NaN                     Panama Bay 8ºN, 79ºW
6988     Eastern Province      Below the English fort, Trincomalee

          Activity                   Name Sex  Age  ...  \
0     Spearfishing       Robert Cuewapuru   M   40  ...
1          Surfing          Lance Appleby   M   28  ...
2     SCUBA Diving        Peppino Fappani   M   69  ...
3     SCUBA Diving      Gianluca Di Gioia   M   48  ...
4     Spearfishing           Luke Walford   M   40  ...
...            ...                    ...  ..  ...  ...
6984        Diving                   male   M  NaN  ...
6985  Pearl diving                  Ahmun   M  NaN  ...
6986      Swimming  Coast Guard personnel   M  NaN  ...
6987           NaN        Jules Patterson   M  NaN  ...
6988      Swimming                   male   M   15  ...

                                    Species   \
0             Reportedly Tiger or Bull shark
1     Great White Shart estimated 4.8m 16 ft
2                   Reportedly a Tiger Shark
3                   Reportedly a Tiger Shark
4                                   Unknown
...                                      ...
6984                                     NaN
6985                                     NaN
6986                                     NaN
6987                                     NaN
6988                                     NaN

                                                 Source  \
0                         Johannes Marchand Todd Smith
1     Glen Folkard: Simon De Marchi News.com.au: The...
2     Todd Smith : Kevin McMurray Trackingsharks .co...
3     Todd Smith : Kevin McMurray Trackingsharks .co...
4     Todd Smith Glen Folkard ABC News: The North We...
...                                                 ...
6984                   H. Taunton; N. Bartlett,  p. 234
6985              H. Taunton; N. Bartlett,  pp. 233-234
6986               F. Schwartz, p.23; C. Creswell, GSAF
6987                                The Sun, 10/20/1938
6988                                         S.W. Baker

                                 pdf  \
0                                NaN
1                                NaN
2                                NaN
3                                NaN
4                                NaN
...                              ...
6984          ND-0005-RoebuckBay.pdf
6985               ND-0004-Ahmun.pdf
6986  ND-0003-Ocracoke_1900-1905.pdf
6987      ND-0002-JulesPatterson.pdf
6988              ND-0001-Ceylon.pdf

                                           href formula  \
0                                                   NaN
1                                                   NaN
2                                                   NaN
3                                                   NaN
4                                                   NaN
...                                                 ...
6984  http://sharkattackfile.net/spreadsheets/pdf_di...
6985  http://sharkattackfile.net/spreadsheets/pdf_di...
6986  http://sharkattackfile.net/spreadsheets/pdf_di...
6987  http://sharkattackfile.net/spreadsheets/pdf_di...
6988  http://sharkattackfile.net/spreadsheets/pdf_di...

                                                   href Case Number  \
0                                                   NaN         NaN
1                                                   NaN         NaN
2                                                   NaN         NaN
3                                                   NaN         NaN
4                                                   NaN         NaN
...                                                 ...         ...
6984  http://sharkattackfile.net/spreadsheets/pdf_di...     ND.0005
6985  http://sharkattackfile.net/spreadsheets/pdf_di...     ND.0004
6986  http://sharkattackfile.net/spreadsheets/pdf_di...     ND.0003
6987  http://sharkattackfile.net/spreadsheets/pdf_di...     ND.0002
6988  http://sharkattackfile.net/spreadsheets/pdf_di...     ND.0001

     Case Number.1 original order Unnamed: 21 Unnamed: 22
0              NaN            NaN         NaN         NaN
1              NaN            NaN         NaN         NaN
2              NaN            NaN         NaN         NaN
3              NaN            NaN         NaN         NaN
4              NaN            NaN         NaN         NaN
...            ...            ...         ...         ...
6984       ND.0005            6.0         NaN         NaN
6985       ND.0004            5.0         NaN         NaN
6986       ND.0003            4.0         NaN         NaN
6987       ND.0002            3.0         NaN         NaN
6988       ND.0001            2.0         NaN         NaN

[6989 rows x 23 columns]

In [32]:
df.head(10)

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,2025-01-02 00:00:00,2025.0,Unprovoked,New Caledonia,Grande Terre,Islet of Kendek near Koumac,Spearfishing,Robert Cuewapuru,M,40,...,Reportedly Tiger or Bull shark,Johannes Marchand Todd Smith,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2025-01-02 00:00:00,2025.0,Unprovoked,Australia,South Australia,Granites Beach near Westall Streaky Bay,Surfing,Lance Appleby,M,28,...,Great White Shart estimated 4.8m 16 ft,Glen Folkard: Simon De Marchi News.com.au: The...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2024-12-29 00:00:00,2024.0,Unprovoked,Egypt,North of Marsa Alam,Red Sea,SCUBA Diving,Peppino Fappani,M,69,...,Reportedly a Tiger Shark,Todd Smith : Kevin McMurray Trackingsharks .co...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2024-12-29 00:00:00,2024.0,Unprovoked,Egypt,North of Marsa Alam,Red Sea,SCUBA Diving,Gianluca Di Gioia,M,48,...,Reportedly a Tiger Shark,Todd Smith : Kevin McMurray Trackingsharks .co...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2024-12-28 00:00:00,2024.0,Unprovoked,Australia,Queensland,Humpy Island Great Keppel Island,Spearfishing,Luke Walford,M,40,...,Unknown,Todd Smith Glen Folkard ABC News: The North We...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2024-12-02 00:00:00,2024.0,Unprovoked,Australia,Queensland,Curtis Island Near Gladstone QLD central coast,Spearfishing,Not stated,M,60+,...,Not stated,Glen Folkard GSAF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2024-12-01 00:00:00,2024.0,Unprovoked,Australia,Western Australia,Greenough River Mouth Beach Cape Burney 12km s...,Surfing,James Sweetman (child),M,?,...,1m shark species unknown,Bob Myatt GSAF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2024-11-30 00:00:00,2024.0,Unprovoked,Thailand,Phang Nga Province,Khao Lak Beach,Swimming,Elke Maier,F,57,...,Unknown,Kevin McMurray Tracking Sharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2024-11-19 00:00:00,2024.0,Unprovoked,New Zealand,Bay of Waitangi,Chatham Islands,Diving,Jade Kahukore-Dixon,M,24,...,Great White Shark,Glen Folkhard: Todd Smith: Andy Currie Kevin M...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2024-11-15 00:00:00,2024.0,Unprovoked,Maldives,Kaafu,Maafushi,Diving,Not stated,F,45,...,Not stated,the edition: Kevin McMurray Tracking sharks.co...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
import pandas as pd

# Sample DataFrame
# Define the variations to be replaced with 'F'
male_variations = ['Male', 'male'' M','M ']

# Replace the variations with 'F'
df['Sex'] = df['Sex'].replace(male_variations, 'M')

print(df)

                     Date    Year        Type             Country  \
0     2025-01-02 00:00:00  2025.0  Unprovoked       New Caledonia
1     2025-01-02 00:00:00  2025.0  Unprovoked           Australia
2     2024-12-29 00:00:00  2024.0  Unprovoked               Egypt
3     2024-12-29 00:00:00  2024.0  Unprovoked               Egypt
4     2024-12-28 00:00:00  2024.0  Unprovoked           Australia
...                   ...     ...         ...                 ...
6984          Before 1903     0.0  Unprovoked           AUSTRALIA
6985          Before 1903     0.0  Unprovoked           AUSTRALIA
6986            1900-1905     0.0  Unprovoked                 USA
6987            1883-1889     0.0  Unprovoked              PANAMA
6988            1845-1853     0.0  Unprovoked  CEYLON (SRI LANKA)

                    State                                 Location  \
0            Grande Terre              Islet of Kendek near Koumac
1         South Australia  Granites Beach near Westall Streaky Bay
2     North of Marsa Alam                                  Red Sea
3     North of Marsa Alam                                  Red Sea
4              Queensland         Humpy Island Great Keppel Island
...                   ...                                      ...
6984    Western Australia                              Roebuck Bay
6985    Western Australia                                      NaN
6986       North Carolina                           Ocracoke Inlet
6987                  NaN                     Panama Bay 8ºN, 79ºW
6988     Eastern Province      Below the English fort, Trincomalee

          Activity                   Name Sex  Age  ...  \
0     Spearfishing       Robert Cuewapuru   M   40  ...
1          Surfing          Lance Appleby   M   28  ...
2     SCUBA Diving        Peppino Fappani   M   69  ...
3     SCUBA Diving      Gianluca Di Gioia   M   48  ...
4     Spearfishing           Luke Walford   M   40  ...
...            ...                    ...  ..  ...  ...
6984        Diving                   male   M  NaN  ...
6985  Pearl diving                  Ahmun   M  NaN  ...
6986      Swimming  Coast Guard personnel   M  NaN  ...
6987           NaN        Jules Patterson   M  NaN  ...
6988      Swimming                   male   M   15  ...

                                    Species   \
0             Reportedly Tiger or Bull shark
1     Great White Shart estimated 4.8m 16 ft
2                   Reportedly a Tiger Shark
3                   Reportedly a Tiger Shark
4                                   Unknown
...                                      ...
6984                                     NaN
6985                                     NaN
6986                                     NaN
6987                                     NaN
6988                                     NaN

                                                 Source  \
0                         Johannes Marchand Todd Smith
1     Glen Folkard: Simon De Marchi News.com.au: The...
2     Todd Smith : Kevin McMurray Trackingsharks .co...
3     Todd Smith : Kevin McMurray Trackingsharks .co...
4     Todd Smith Glen Folkard ABC News: The North We...
...                                                 ...
6984                   H. Taunton; N. Bartlett,  p. 234
6985              H. Taunton; N. Bartlett,  pp. 233-234
6986               F. Schwartz, p.23; C. Creswell, GSAF
6987                                The Sun, 10/20/1938
6988                                         S.W. Baker

                                 pdf  \
0                                NaN
1                                NaN
2                                NaN
3                                NaN
4                                NaN
...                              ...
6984          ND-0005-RoebuckBay.pdf
6985               ND-0004-Ahmun.pdf
6986  ND-0003-Ocracoke_1900-1905.pdf
6987      ND-0002-JulesPatterson.pdf
6988              ND-0001-Ceylon.pdf

                                           href formula  \
0                                                   NaN
1                                                   NaN
2                                                   NaN
3                                                   NaN
4                                                   NaN
...                                                 ...
6984  http://sharkattackfile.net/spreadsheets/pdf_di...
6985  http://sharkattackfile.net/spreadsheets/pdf_di...
6986  http://sharkattackfile.net/spreadsheets/pdf_di...
6987  http://sharkattackfile.net/spreadsheets/pdf_di...
6988  http://sharkattackfile.net/spreadsheets/pdf_di...

                                                   href Case Number  \
0                                                   NaN         NaN
1                                                   NaN         NaN
2                                                   NaN         NaN
3                                                   NaN         NaN
4                                                   NaN         NaN
...                                                 ...         ...
6984  http://sharkattackfile.net/spreadsheets/pdf_di...     ND.0005
6985  http://sharkattackfile.net/spreadsheets/pdf_di...     ND.0004
6986  http://sharkattackfile.net/spreadsheets/pdf_di...     ND.0003
6987  http://sharkattackfile.net/spreadsheets/pdf_di...     ND.0002
6988  http://sharkattackfile.net/spreadsheets/pdf_di...     ND.0001

     Case Number.1 original order Unnamed: 21 Unnamed: 22
0              NaN            NaN         NaN         NaN
1              NaN            NaN         NaN         NaN
2              NaN            NaN         NaN         NaN
3              NaN            NaN         NaN         NaN
4              NaN            NaN         NaN         NaN
...            ...            ...         ...         ...
6984       ND.0005            6.0         NaN         NaN
6985       ND.0004            5.0         NaN         NaN
6986       ND.0003            4.0         NaN         NaN
6987       ND.0002            3.0         NaN         NaN
6988       ND.0001            2.0         NaN         NaN

[6989 rows x 23 columns]

In [38]:
df.head(10)

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,2025-01-02 00:00:00,2025.0,Unprovoked,New Caledonia,Grande Terre,Islet of Kendek near Koumac,Spearfishing,Robert Cuewapuru,M,40,...,Reportedly Tiger or Bull shark,Johannes Marchand Todd Smith,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2025-01-02 00:00:00,2025.0,Unprovoked,Australia,South Australia,Granites Beach near Westall Streaky Bay,Surfing,Lance Appleby,M,28,...,Great White Shart estimated 4.8m 16 ft,Glen Folkard: Simon De Marchi News.com.au: The...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2024-12-29 00:00:00,2024.0,Unprovoked,Egypt,North of Marsa Alam,Red Sea,SCUBA Diving,Peppino Fappani,M,69,...,Reportedly a Tiger Shark,Todd Smith : Kevin McMurray Trackingsharks .co...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2024-12-29 00:00:00,2024.0,Unprovoked,Egypt,North of Marsa Alam,Red Sea,SCUBA Diving,Gianluca Di Gioia,M,48,...,Reportedly a Tiger Shark,Todd Smith : Kevin McMurray Trackingsharks .co...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2024-12-28 00:00:00,2024.0,Unprovoked,Australia,Queensland,Humpy Island Great Keppel Island,Spearfishing,Luke Walford,M,40,...,Unknown,Todd Smith Glen Folkard ABC News: The North We...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2024-12-02 00:00:00,2024.0,Unprovoked,Australia,Queensland,Curtis Island Near Gladstone QLD central coast,Spearfishing,Not stated,M,60+,...,Not stated,Glen Folkard GSAF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2024-12-01 00:00:00,2024.0,Unprovoked,Australia,Western Australia,Greenough River Mouth Beach Cape Burney 12km s...,Surfing,James Sweetman (child),M,?,...,1m shark species unknown,Bob Myatt GSAF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2024-11-30 00:00:00,2024.0,Unprovoked,Thailand,Phang Nga Province,Khao Lak Beach,Swimming,Elke Maier,F,57,...,Unknown,Kevin McMurray Tracking Sharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2024-11-19 00:00:00,2024.0,Unprovoked,New Zealand,Bay of Waitangi,Chatham Islands,Diving,Jade Kahukore-Dixon,M,24,...,Great White Shark,Glen Folkhard: Todd Smith: Andy Currie Kevin M...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2024-11-15 00:00:00,2024.0,Unprovoked,Maldives,Kaafu,Maafushi,Diving,Not stated,F,45,...,Not stated,the edition: Kevin McMurray Tracking sharks.co...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN